<header>
    <div class="caja">
        <img id="img-logo" src="/img/logos-helados.jpg" alt="logo-helados">
        <nav>
            <ul>
                <li><a href="/twist" id="select">Home</a></li>
                {{#if usuario}}
                <li><a href="/twist/productos">Nuestros Productos </a></li>
                <li><a href="/twist/perfil">Perfil</a></li>
                <li><a href="/twist/logout">Cerrar Sesion</a></li>
                {{else}}
                <li><a href="/twist/login">Iniciar Sesion</a></li>
                {{/if}}
                {{#if usuario}}
                <li>
                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                        aria-controls="offcanvasRight" onclick="mostrarCarrito({{usuario.id}})">
                        <img src="/img/carrito-de-compras.png" alt="">
                        Carrito
                    </button>
                </li>
                {{/if}}
           
              
              


            </ul>
        </nav>
    </div>

    <div class="wave"></div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Carrito</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        {{#each producto}}
        <div class="carro">
            <div class="offcanvas-body">
            <div class="carrito">
                <img src={{imgUrl}} alt="producto">
                <div class="producto">
                    <p>{{descripcion}}</p>
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>       
                <p class="precio">Precios: $ {{precioxUni}}</p>
                </div>
            </div>
            </div>
            <div class="offcanvas-footer">
                    <p>Subtotal:</p><p>$2350</p>
                    <p>Total:</p><p>$2350</p>
            </div>   
        </div>
       {{/each}}

        <button class="btn-offcanva">Ordenar</button>
    </div>
</header>


<script src="/js/carrito.js"></script>